.containerBackground{
    background: url(../Assets/Achtergrond.jpg) center/cover no-repeat ;
    background-size:  759px 779px;
}
.containerRelaties{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: auto;
    margin-top: 50px;
    width: 90%; 
    flex-shrink: 0;
    padding-bottom: 30px;
}
.containerRelatieScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 759px;
    flex-shrink: 0;
    padding-bottom: 30px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .gridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  .txtBox{
    width: 192px;
    height: 30px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #D9D9D9;
    text-align: center;
    text-transform: camelcase;
  }
  .dropDown{
    width: 192px;
    height: 30px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #D9D9D9;
    margin-top : 20px;
    text-align: center;
  }
 .buttons:hover {
   background-color: #0074d9;
   color: #ffffff;
   cursor: pointer
 }

 .buttonsNieuw:hover{
  background-color: #0074d9;
    color: #ffffff;
    cursor: pointer
 }

  