USE [master]
GO
/****** Object:  Database [FleetManager]    Script Date: 3/11/2023 15:22:44 ******/
CREATE DATABASE [FleetManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FleetManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FleetManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FleetManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FleetManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FleetManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FleetManager]
GO
/****** Object:  Table [dbo].[Bestuurder]    Script Date: 3/11/2023 15:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bestuurder](
	[Id_Bestuurder] [int] IDENTITY(1,1) NOT NULL,
	[Naam] [varchar](50) NULL,
	[Voornaam] [varchar](50) NULL,
	[Straat] [varchar](50) NULL,
	[Huisnummer] [varchar](10) NULL,
	[Stad] [varchar](50) NULL,
	[Postcode] [varchar](10) NULL,
	[Geboortedatum] [date] NULL,
	[Rijksregisternummer] [varchar](12) NULL,
	[Categorie_rijbewijs] [varchar](10) NULL,
	[login] [varchar](20) NULL,
	[Paswoord] [varchar](20) NULL,
 CONSTRAINT [PK_Bestuurder] PRIMARY KEY CLUSTERED 
(
	[Id_Bestuurder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 3/11/2023 15:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Bestuurder] [int] NOT NULL,
	[Id_Tankkaart] [int] NULL,
	[Id_Voertuig] [int] NULL,
 CONSTRAINT [PK__Manager__3214EC07F5CF0517] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tankkaart]    Script Date: 3/11/2023 15:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tankkaart](
	[Id_Tankkaart] [int] IDENTITY(1,1) NOT NULL,
	[Kaartnummer] [varchar](12) NOT NULL,
	[Geldigheidsdatum] [date] NOT NULL,
	[Pincode] [varchar](6) NULL,
	[Brandstoffen] [varchar](50) NOT NULL,
	[Geblokkeerd] [bit] NOT NULL,
 CONSTRAINT [PK_Tankkaart] PRIMARY KEY CLUSTERED 
(
	[Id_Tankkaart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voertuig]    Script Date: 3/11/2023 15:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voertuig](
	[Id_Voertuig] [int] IDENTITY(1,1) NOT NULL,
	[Merk] [varchar](50) NOT NULL,
	[Model] [varchar](50) NULL,
	[Chassisnummer] [varchar](50) NOT NULL,
	[Nummerplaat] [varchar](10) NOT NULL,
	[Brandstoftype] [varchar](25) NOT NULL,
	[Type_voertuig] [varchar](25) NULL,
	[Kleur] [varchar](25) NULL,
	[Aantal_deuren] [int] NULL,
 CONSTRAINT [PK_Voertuig] PRIMARY KEY CLUSTERED 
(
	[Id_Voertuig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tankkaart] ADD  CONSTRAINT [DF__Tankkaart__Geblo__5070F446]  DEFAULT ((0)) FOR [Geblokkeerd]
GO
ALTER TABLE [dbo].[Tankkaart]  WITH CHECK ADD  CONSTRAINT [CHK_Pincode_Length] CHECK  ((len([Pincode])>=(4) AND len([Pincode])<=(6)))
GO
ALTER TABLE [dbo].[Tankkaart] CHECK CONSTRAINT [CHK_Pincode_Length]
GO
ALTER TABLE [dbo].[Voertuig]  WITH CHECK ADD  CONSTRAINT [CHK_Aantal_deuren] CHECK  (([Aantal_deuren]>=(3) AND [Aantal_deuren]<=(5)))
GO
ALTER TABLE [dbo].[Voertuig] CHECK CONSTRAINT [CHK_Aantal_deuren]
GO
USE [master]
GO
